/* 共通 */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese');


@font-face {
	font-family: 'CorpoFontB';
	src: url(./fonts/Corporate-Logo-Bold-ver2.ttf) format('truetype');
}

p {
  font-family: "ヒラギノ角ゴ ProN", "Noto Sans JP", sans-serif;
}


/* ヘッダー */
header {
  background-color: #ffe35f;
  color: black;
  height: 70px;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 100;
}

.header-logo {
  display: inline-block;
  padding-left: 30px;
  padding-top: 15px;
}

.header-logo-img {
  width: 200px;
}

.header-right {
  float: right;
}

.header-right a {
  font-family: 'CorpoFontB';
  height: 64px;
  line-height: 65px;
  font-size: 20px;
  padding: 3px 13px 0px 13px;
  color: rgb(39, 39, 39);
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-down-line {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: black;
  z-index: 99;
}

.separate2-space {
  display: flex;
  width: 100%;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
  background-color: #ffd000;
  z-index: 9999;/*ボタンを最前面に*/
	top:11px;
	right: 20px;
	cursor: pointer;
  width: 50px;
  height:50px;
  display: none;
}
	
/*×に変化*/	
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background-color: 	rgb(255, 255, 255);
  width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/* メイン */
  /* トップ */
  .top-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .top-img-01 {
    position: absolute;
    top: -35px;
    width: 100%;
    height: 88%;
    object-position: 100% 100%;
    z-index: -10;
  }

  .top-img-02 {
    position: absolute;
    top: -30px;
    left: 100px;
    width: 90%;
    z-index: -5;
  }

  .top-img-03 {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 33%;
    z-index: 60;
  }

  .top-img-04 {
    position: absolute;
    top: 17.5%;
    left: 3%;
    width: 33%;
    z-index: 50;
  }

  .top-img-05 {
    position: absolute;
    top: 13%;
    left: 0%;
    width: 33%;
    z-index: 40;
  }

  .top-img-06 {
    position: absolute;
    top: 43%;
    left: 32%;
    width: 10%;
    z-index: 59;
  }

  .top-img-07 {
    position: absolute;
    top: 44%;
    left: 33%;
    width: 10%;
    z-index: 50;
  }

  .top-img-08 {
    position: absolute;
    top: 42%;
    left: 31%;
    width: 10%;
    z-index: 40;
  }

  .top-img-09 {
    position: absolute;
    top: 26%;
    left: 40%;
    width: 50%;
    z-index: 60;
  }

  .top-img-10 {
    position: absolute;
    top: 28%;
    left: 41%;
    width: 50%;
    z-index: 50;
  }

  .top-img-11 {
    position: absolute;
    top: 23.5%;
    left: 39%;
    width: 50%;
    z-index: 40;
  }


  .separate2-img {
    width: 100%;
  }

  .separate2 {
    padding-top: 40%;
    width: 100%;
    font-size: 0
  }

  .separate2-space {
    background-color: #ffe35f;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    text-align: center;
  }

  .first-cooperation {
    width:18%;
    padding: 0 1%;
    z-index: 50;
    align-self: flex-start;
    position: absolute;
  }

  .imamirai {
    top: 50px;
    padding-left: 4%;
  }

  .highschool {
    top: 14px;
    height: 80%;
    object-fit: cover;
    left: 22%;
  }

  .selfwing {
    left: 40%;
  }

  .youthcareer {
    top: 15%;
    left: 60%;
  }

  .kantele {
    width: 10%;
    top: 0;
    left: 81%;
  }

/* アントレクレストの概要 */
.exp-title {
  font-family: 'CorpoFontB';
  font-size: 40px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.exp-catch-copy {
  width: 90%;
  padding-left: 5%;
}

.exp {
  font-size: 35px;
  padding-top: 50px;
}

.separate1 {
  font-size: 0;
}

.separate1-img {
  width: 100%;
}

/*　なぜ今起業家が必要なのか */
.explanation2 {
  background-color: #ffe35f;
}

.exp2-title {
  font-family: 'CorpoFontB';
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.exp2 {
  font-size: 32px;
}

.exp2-detail {
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}

.exp2-detail-img {
  width: 50%;
}

.exp2-detail-title {
  font-size: 32px;
}

.exp2-detail-exp {
  font-size: 24px;
}

.exp2-detail-left {
  width: 50%;
  margin-left: 10%;
  padding: 0 5%;
}

.exp2-detail-left-up {
  padding-top: 30px;
}

.exp2-detail-left-down {
  padding-top: 30px;
}

.exp2-detail-right {
  width: 50%;
  margin-right: 10%;
  padding: 0 5%;
}

.exp2-detail-right-up {
  padding-top: 30px;
}

.exp2-detail-right-down {
  padding-top: 30px;
}

.exp2-bottom {
  font-size: 32px;
  padding-bottom: 50px;
}

/* 特徴 */
.feature-title {
  font-family: 'CorpoFontB';
  font-size: 72px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.feature-element-title {
  font-family: 'CorpoFontB';
  font-size: 40px;
  padding-bottom: 10px;
}

.feature-element-detail {
  font-size: 28px;
}

.feature-mobile-tablet-ver {
  display: none;
}

.feature-element-1 {
  display: flex;
  padding-bottom: 100px;
}

.feature-element-1-explanation {
  width: 50%;
}

.feature-element-1-img-div {
  position: relative;
  width: 50%;
}

.feature-element-1-image {
  padding-left: 40px;
  width: 100%;
  z-index: 10;
  align-self: flex-start;
}

.feature-element-1-background{
  position: absolute;
  width: 100%;
  padding-left: 40px;
  top: 25px;
  left: 20px;
  z-index: -10;
}

.feature-element-2 {
  display: flex;
  padding-bottom: 100px;
}

.feature-element-2-explanation {
  width: 50%;
  padding-left: 70px;
}

.feature-element-2-img-div {
  position: relative;
  width: 50%;
}

.feature-element-2-image {
  padding-right: 70px;
  width: 100%;
  z-index: 10;
  align-self: flex-start;
}

.feature-element-2-background{
  position: absolute;
  width: 100%;
  padding-right: 70px;
  top: 25px;
  left: 20px;
  z-index: -10;
}

.feature-element-3 {
  display: flex;
  padding-bottom: 100px;
}

.feature-element-3-explanation {
  width: 50%;
}

.feature-element-3-img-div {
  position: relative;
  width: 50%;
}

.feature-element-3-image {
  padding-left: 40px;
  width: 100%;
  z-index: 10;
  align-self: flex-start;
}

.feature-element-3-background{
  position: absolute;
  width: 100%;
  padding-left: 40px;
  top: 25px;
  left: 20px;
  z-index: -10;
}

.feature-element-4 {
  display: flex;
  padding-bottom: 100px;
}

.feature-element-4-explanation {
  width: 50%;
  padding-left: 70px;
}

.feature-element-4-img-div {
  position: relative;
  width: 50%;
}

.feature-element-4-image {
  padding-right: 70px;
  width: 100%;
  z-index: 10;
  align-self: flex-start;
}

.feature-element-4-background{
  position: absolute;
  width: 100%;
  padding-right: 70px;
  top: 25px;
  left: 20px;
  z-index: -10;
}

.exp2-bottom-2 {
  width: 100%;
  height: 20px;
}

.feature-bottom {
  width: 100%;
  height: 40px;
}

  /* overview */

  .overview {
    background-color: #ffe35f;
    text-align: center;
    padding-bottom: 50px;
  }

  .overview-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding: 70px 0;
  }

  .overview-element {
    text-align: left;
    font-size: 37px;
    padding-bottom: 9px;
    margin-bottom: 45px;
    border-bottom: solid 2px #535353;
    width: 100%;
  }

  .overview-bottom {
    width: 100%;
    height: 10px;
  }

  /* タイムスケジュール */
  .time-schedule-container {
    text-align: center;
  }

  .time-schedule-img {
    padding-top: 100px;
    width: 100%;
  }

  .operation-title {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .operation-img {
    height: 140px;
    width: 75%;
    object-fit: cover;
  }

  .operation-detail {
    font-size: 32px;
    text-align: left;
    padding-top: 30px;
  }

  .operation-bottom {
    width: 100%;
    height: 50px;
  }

  /* スポンサー */
  .sponser-container {
    text-align: center;
  }

  .sponser-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .sponser-gold-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-bottom: 50px;
  }

  .sponser-gold-element {
    display: flex;
    width: 100%;
  }

  .sponser-gold-img {
    width: 65%;
    align-self: flex-start;
  }

  .sponser-gold-exp {
    padding-left: 40px;
  }

  .sponser-silver-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .sponsre-silver-element {
    display: flex;
    width: 100%;
  }

  .sponser-silver-img {
    width: 30%;
    padding: 5px 10px;
  }

  .sponser-silver-img-1 {
    padding-bottom: 5%;
  }

  .sponser-bronze-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .sponsre-bronze-element {
    display: flex;
    width: 100%;
  }

  .sponser-bronze-img {
    width: 23%;
    padding: 5px 10px;
  }

  .sponser-bronze-img-1 {
    padding-bottom: 4%;
  }

  .sponser-media-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .sponsre-media-element {
    display: flex;
    width: 100%;
  }

  .sponser-media-img {
    width: 23%;
    padding: 5px 10px;
  }

  .sponser-media-img-1 {
    padding-bottom: 5%;
  }

  .sponser-cooperation-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .sponsre-cooperation-element {
    display: flex;
    width: 100%;
  }

  .sponser-cooperation-img {
    width: 23%;
    padding: 5px 10px;
  }

  .sponser-cooperation-img-1 {
    padding-bottom: 6%;
  }

  .sponser-cooperation-img-3 {
    padding-bottom: 4%;
  }

  .sponser-cooperation-img-4 {
    padding-bottom: 6%;
  }

  /* お申込み */
  .application-container {
    text-align: center;
    padding-bottom: 250px;
  }

  .application-title {
    font-family: 'CorpoFontB';
    font-size: 80px;
    padding-top: 250px;
    padding-bottom: 70px;
  }

  .application-img {
    width: 55%;
  }

footer {
  background-color: #ffe35f;
  display: flex;
  padding-bottom: 6%;
}

.footer-left {
  width: 50%;
}

.footer-left-inquiry {
  padding-top: 7%;
  padding-left: 7%;
}

.footer-left-inquiry-title {
  font-size: 40px;
}

.footer-left-secretariat {
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 7%;
}

.footer-left-secretariat-title {
  font-size: 32px;
}

.footer-left-secretariat-detail {
  font-size: 32px;
}

.footer-right {
  width: 50%;
  padding-top: 10%;
  padding-right: 2%;
}

.footer-right-sponsor {
  padding-top: 3%;
}

.footer-right-sponsor-contents {
  font-size: 32px;
}

.footer-right-support {
  padding-top: 5%;
}

.footer-right-support-contents {
  font-size: 32px;
}

.footer-right-cooperation {
  padding-top: 5%;
}

.footer-right-cooperation-contents {
  font-size: 32px;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:0;
  right: -120%;
  width:100%;
  height: 100vh;/*ナビの高さ*/
  background:#ffd000;
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center;
}

#g-nav li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 25px;
  font-family: 'CorpoFontB';
}


/* コンタクトフォーム */
.contact-form {
  max-width: 1000px;
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}

.contact-table {
  width: 100%;
  border-bottom: solid 2px #535353;
  padding-top: 20px;
  padding-bottom: 3px;
}

.contact-table th{
  text-align: left;
  width: 20%;
  font-size: 28px;
}

.contact-table td{
  text-align: right;
}

input {
  width: 80%;
  padding: 5px 5px;
  font-size: 20px;
  font-family: "ヒラギノ角ゴ ProN", "Noto Sans JP", sans-serif;
}

.contact-table-year td{
  text-align: left;
  padding-left: 18%;
}

.contact-table-year input{
  width: 15px;
}

.contact-year-txt {
  padding-right: 15%;
  font-size: 20px;
  font-family: "ヒラギノ角ゴ ProN", "Noto Sans JP", sans-serif;
}

.contact-trigger {
  width: 100%;
}

.contact-trigger-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-trigger-title-txt {
  font-size: 28px;
  font-family: 'CorpoFontB';
  padding-top: 10px;
}

.contact-trigger-div {
  width: 32%;
  display: inline-block;
}

.contact-trigger-element input {
  width: 15px;
}

.contact-trigger-txt {
  font-size: 20px;
  font-family: "ヒラギノ角ゴ ProN", "Noto Sans JP", sans-serif;
}

.contact-reason-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.contact-reason-title-txt {
  font-size: 28px;
  font-family: 'CorpoFontB';
}

.contact-reason-textarea {
  width: 99%;
  height: 20vh;
  font-size: 20px;
  padding: 10px;
  font-family: "ヒラギノ角ゴ ProN", "Noto Sans JP", sans-serif;
}

.contact-reason-note {
  text-align: center;
  font-size: 20px;
}

.submit {
  text-align: center;
}

.submit-btn {
  width: 30%;
  padding-top: 30px;
  padding-bottom: 70px;
}

.end-message {
  display: none;
  padding: 50px 0px;
  text-align: center;
  font-size: 30px;
}

.false-message {
  display: none;
  padding: 50px 0px;
  text-align: center;
  font-size: 30px;
}